.opensea_available{
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: center;
    font-size: 12px;
    padding: 3px 0px;
    margin-bottom: 0px;
    a{
        color: #000;
    }
}